@page "/"

<PageTitle>Blazorise Issues</PageTitle>

<h1><a href="/problem1">Problem 1: Blazorise Dropdown Incorrect Positioning</a></h1>
<p>
This demostrates the incorrect positioning of the dropdown-menu, When opening the following inline style is applied which is causing the issue style="position: fixed; inset: 0px auto auto 0px; margin: 0px; transform: translate(50px, 328px);
</p>

<h1><a href="/problem2">Problem 2: EditForm EditContext not updated when using Validations</a></h1>
<p>
    This demostrates when using Validations with Blazors built in EditForm you can not make use of the EditContext when using Blazorise Validations component.
</p>
